---
import AddSchedule from "@components/modals/AddSchedule.astro";
import TableHeaders from "@components/schedule/TableHeaders.astro";

import { db } from "@lib/database";
import { employee, team, schedule, shift, group, holiday } from "@lib/database/schema";
import { fmtShift } from "@lib/utils";

import { and, eq, inArray, sql } from "drizzle-orm";

if ((await db.select().from(team)).length === 0) {
  console.log("No teams found in the database! Redirecting to /teams so the user can add one.");
  return Astro.redirect("/teams");
}

let currentTeam = "";
let currentTeamId = -1;

if (Astro.cookies.has("current_team")) {
  currentTeam = Astro.cookies.get("current_team")?.value || "";
  if (currentTeam !== "" && (await db.select().from(team).where(eq(team.name, currentTeam))).length == 0) {
    console.warn(`Location '${currentTeam}' not found in the database! Clearing the cookie.`);
    Astro.cookies.delete("current_team");
    currentTeam = "";
  }
}

if (currentTeam === "") {
  const default_team = (await db.select({ name: team.name }).from(team).where(eq(team.defaultTeam, true)))[0]["name"];
  currentTeam = default_team;
  Astro.cookies.set("current_team", currentTeam);
}

if (currentTeam === "") {
  console.log("Current team is for some reason not set, redirecting to /teams");
  return Astro.redirect("/teams");
}

currentTeamId = (await db.select({ id: team.id }).from(team).where(eq(team.name, currentTeam)))[0]["id"];

const now = new Date();
const year = Astro.cookies.get("year")?.number() || now.getFullYear();
const month = Astro.cookies.get("month")?.number() || now.getMonth() + 1;

const employees = await db.select().from(employee).where(eq(employee.teamId, currentTeamId)).orderBy(employee.firstName, employee.lastName);
const groups = await db.select().from(group).where(eq(group.teamId, currentTeamId));

const employees_ids = employees.flatMap((e) => {
  return e.id;
});

const employees_schedule = await db
  .select({
    employeeId: schedule.employeeId,
    shiftId: shift.id,
    year: schedule.year,
    month: schedule.month,
    day: schedule.day,
    label: shift.label,
    start: shift.start,
    end: shift.end,
    color: shift.color,
    shiftType: shift.shiftType,
  })
  .from(schedule)
  .where(and(eq(schedule.year, year), eq(schedule.month, month), inArray(schedule.employeeId, employees_ids)))
  .leftJoin(shift, eq(schedule.shiftId, shift.id))
  .leftJoin(employee, eq(schedule.employeeId, employee.id))
  .orderBy(schedule.day);

const days_count = new Date(year, month, 0).getDate();

const full_schedule = {};
const total_hours = {};
const shift_counts = {};

for (const s of employees_schedule) {
  if (!(s.employeeId in full_schedule)) {
    full_schedule[s.employeeId] = {};
  }

  if (!s.shiftId || !s.start || !s.end || !s.color) {
    console.log(`No shift start found for day ${s.day}`);
    continue;
  }

  full_schedule[s.employeeId][s.day] = {};
  full_schedule[s.employeeId][s.day]["label"] = s.label;
  full_schedule[s.employeeId][s.day]["start"] = fmtShift(s.start);
  full_schedule[s.employeeId][s.day]["end"] = fmtShift(s.end);
  full_schedule[s.employeeId][s.day]["color"] = s.color;
  full_schedule[s.employeeId][s.day]["shiftType"] = s.shiftType;

  const shift_hours =
    Math.abs(Date.parse(`${s.year}-${s.month}-${s.day} ${s.end}`) - Date.parse(`${s.year}-${s.month}-${s.day} ${s.start}`)) / (60 * 60 * 1000);

  if (!["VACATION", "LEAVE_ON_REQUEST"].includes(s.shiftType as string)) {
    if (!(s.employeeId in total_hours)) {
      total_hours[s.employeeId] = 0;
    }
    total_hours[s.employeeId] += shift_hours;
  }

  if (!(s.shiftId in shift_counts)) {
    shift_counts[s.shiftId] = {};
  }

  if (!(s.day in shift_counts[s.shiftId])) {
    shift_counts[s.shiftId][s.day] = 0;
  }

  if (!("total" in shift_counts[s.shiftId])) {
    shift_counts[s.shiftId]["total"] = 0;
  }

  shift_counts[s.shiftId][s.day] += 1;
  shift_counts[s.shiftId]["total"] += 1;
}

const shifts = await db.select().from(shift);
const holidays = await db
  .select()
  .from(holiday)
  .where(sql.raw(`date::text LIKE '${year.toString()}-%'`));
---

<div class="overflow-auto h-[calc(100vh-7.4rem)]">
  <table class="table-auto border-collapse text-sm">
    <TableHeaders holidays={holidays} />
    {
      groups.map((group) => {
        return (
          <>
            <tr>
              <td class="font-bold uppercase text-center">{group.name}</td>
            </tr>
            {employees
              .filter((employee) => employee.groupId === group.id)
              .map((employee) => {
                let _total_hours = 0;

                if (employee.id in total_hours) {
                  _total_hours = total_hours[employee.id];
                }

                return (
                  <tr>
                    <td class="px-4 whitespace-nowrap h-fit border-1">
                      {employee.firstName} {employee.lastName}
                    </td>
                    {Array.from(Array(days_count), (_, i) => {
                      i = i + 1;

                      let label: string | undefined = undefined;
                      let color: string | undefined = undefined;
                      let start: string | undefined = undefined;
                      let end: string | undefined = undefined;
                      let shiftType: string | undefined = undefined;

                      const _day = new Date(year, month - 1, i);
                      const is_today = now.setHours(0, 0, 0, 0) === _day.setHours(0, 0, 0, 0);
                      const is_weekend = [0, 6].includes(_day.getDay());
                      const is_custom_holiday = holidays
                        .flatMap((h) => h.date)
                        .includes(
                          `${year}-${_day.toLocaleDateString("pl-PL", { month: "2-digit" })}-${_day.toLocaleDateString("pl-PL", { day: "2-digit" })}`
                        );
                      const is_free = is_weekend || is_custom_holiday;

                      if (employee.id in full_schedule && i in full_schedule[employee.id]) {
                        label = full_schedule[employee.id][i]["label"];
                        color = full_schedule[employee.id][i]["color"];
                        start = full_schedule[employee.id][i]["start"];
                        end = full_schedule[employee.id][i]["end"];
                        shiftType = full_schedule[employee.id][i]["shiftType"];
                      }

                      return (
                        <td
                          style={{ backgroundColor: color }}
                          class:list={[
                            "hover:bg-opacity-50 transition-colors border-1 selectable",
                            { "bg-gray-300 text-gray-800": !color && is_today, "bg-custom-holiday": !color && is_free },
                          ]}
                          data-employee={employee.id}
                          data-day={i}
                          title={label ? `Shift ${label}\n${start} - ${end}\n${shiftType}` : "Click to add shift"}
                        >
                          <button class="flex flex-col items-center justify-center size-8 selectable" data-employee={employee.id} data-day={i}>
                            {label ? (
                              label
                            ) : start && end ? (
                              <>
                                {start}
                                <br />
                                {end}
                              </>
                            ) : null}
                          </button>
                        </td>
                      );
                    })}
                    <td class:list={["border-1 text-xs text-center", { "font-bold": _total_hours > 0 }]}>{_total_hours}</td>
                  </tr>
                );
              })}
          </>
        );
      })
    }
    <TableHeaders holidays={holidays} footer={true} />
    {
      shifts
        .filter((s) => shift_counts[s.id])
        .map((s) => {
          return (
            <tr>
              <td class="px-4 h-fit min-w-64 border-1">
                {s.label ? (
                  s.label
                ) : (
                  <>
                    <span>{s.shiftType}</span>
                    <span>
                      {fmtShift(s.start)} - {fmtShift(s.end)}
                    </span>
                  </>
                )}
              </td>
              {Array.from(Array(days_count), (_, i) => {
                i = i + 1;

                const _day = new Date(year, month - 1, i);
                const is_today = now.setHours(0, 0, 0, 0) == _day.setHours(0, 0, 0, 0);
                const is_weekend = [0, 6].includes(_day.getDay());
                const is_custom_holiday = holidays
                  .flatMap((h) => h.date)
                  .includes(
                    `${year}-${_day.toLocaleDateString("pl-PL", { month: "2-digit" })}-${_day.toLocaleDateString("pl-PL", { day: "2-digit" })}`
                  );
                const is_free = is_weekend || is_custom_holiday;
                const _count = shift_counts[s.id] && shift_counts[s.id][i] ? shift_counts[s.id][i] : 0;

                return (
                  <td
                    class:list={[
                      "h-fit text-center border-1",
                      { "bg-custom-holiday text-gray-100": is_free },
                      { "bg-gray-300 text-gray-800": is_today },
                      { "font-bold": _count > 0 },
                    ]}
                  >
                    {_count}
                  </td>
                );
              })}
            </tr>
          );
        })
    }
  </table>
  <AddSchedule id="schedule_multi" year={year} month={month} day="" employee_id="" shifts={shifts} />
</div>
<style>
  .intersected {
    background-color: theme("colors.gray.600") !important;
  }
</style>
<script>
  interface Selectable {
    x: number;
    y: number;
    width: number;
    height: number;
    elem?: HTMLElement;
  }

  function checkSelected(selectables: Selectable[], selectAreaElem: Element) {
    const { x, y, height, width } = selectAreaElem.getBoundingClientRect();

    for (const selectable of selectables) {
      if (checkRectIntersection({ x: x + window.scrollX, y: y + window.scrollY, height, width }, selectable)) {
        selectable.elem?.classList.add("intersected");
      } else {
        selectable.elem?.classList.remove("intersected");
      }
    }
  }

  const checkRectIntersection = (r1: Selectable, r2: Selectable): boolean => {
    return !(r1.x + r1.width < r2.x || r2.x + r2.width < r1.x || r1.y + r1.height < r2.y || r2.y + r2.height < r1.y);
  };

  const init = () => {
    const scheduleTable = document.querySelector("table") as HTMLTableElement;
    const tableContainer = scheduleTable.parentElement as HTMLDivElement;
    const addMultiScheduleElement = document.querySelector("dialog#schedule_multi") as HTMLDialogElement;
    const employeeIdElement = addMultiScheduleElement.querySelector("input[name='employee_id']") as HTMLInputElement;
    const dayElement = addMultiScheduleElement.querySelector("input[name='day']") as HTMLInputElement;

    const selectables: Selectable[] = [];
    const selectableElems = [...(document.querySelectorAll(".selectable") as NodeListOf<HTMLElement>)];

    for (const selectable of selectableElems) {
      const { x, y, width, height } = selectable.getBoundingClientRect();
      selectables.push({ x: x + window.scrollX, y: y + window.scrollY, width, height, elem: selectable });
      selectable.dataset.info = JSON.stringify({ x, y, width, height });
    }

    const handlePointerDown = (event: PointerEvent) => {
      const target = event.target as HTMLElement;

      if (event.button !== 0) return;

      if (!target.classList.contains("selectable") && !target.classList.contains("intersected")) return;

      event.preventDefault();

      const x = event.pageX + tableContainer.scrollLeft;
      const y = event.pageY + tableContainer.scrollTop;

      const div = document.createElement("div");
      div.style.position = "absolute";
      div.style.width = "0";
      div.style.height = "0";
      div.style.left = x + "px";
      div.style.top = y + "px";
      div.classList.add("drag-select");
      document.body.append(div);

      const resize = (event: PointerEvent) => {
        const diffX = event.pageX + tableContainer.scrollLeft - x;
        const diffY = event.pageY + tableContainer.scrollTop - y;
        div.style.left = diffX < 0 ? x + diffX + "px" : x + "px";
        div.style.top = diffY < 0 ? y + diffY + "px" : y + "px";
        div.style.height = Math.abs(diffY) + "px";
        div.style.width = Math.abs(diffX) + "px";
        checkSelected(selectables, div);
      };

      const employees: number[] = [];
      const days: number[] = [];

      target.classList.add("intersected");

      resize(event);

      const employee = Number(target.dataset.employee);
      const day = Number(target.dataset.day);

      !employees.includes(employee) && employees.push(employee);
      !days.includes(day) && days.push(day);

      selectables.forEach((item) => item.elem?.classList.remove("intersected"));

      const handlePointerMove = (event: PointerEvent) => {
        resize(event);

        const intersectedElements = [...(document.querySelectorAll(".intersected") as NodeListOf<HTMLElement>)];

        if (intersectedElements.length) {
          intersectedElements.map((elem) => {
            const employee = Number(elem.dataset.employee);
            const day = Number(elem.dataset.day);

            !employees.includes(employee) && employees.push(employee);
            !days.includes(day) && days.push(day);
          });
        }
      };

      document.addEventListener("pointermove", handlePointerMove);

      const handlePointerUp = (event: PointerEvent) => {
        const target = event.target as HTMLElement;

        if (event.button !== 0) return;

        removeEventListener("pointermove", handlePointerMove);

        div.remove();
        selectables.forEach((item) => item.elem?.classList.remove("intersected"));

        if (!target.classList.contains("selectable") && !target.classList.contains("intersected")) return;

        if (employees.length && days.length) {
          employeeIdElement.value = employees.join(",");
          dayElement.value = days.join(",");
        } else {
          return;
        }

        if (!addMultiScheduleElement.open) {
          addMultiScheduleElement.showModal();
        }
      };

      document.addEventListener("pointerup", handlePointerUp);
    };

    console.log("Adding pointerdown event listener to scheduleTable");
    scheduleTable.addEventListener("pointerdown", handlePointerDown);
  };

  document.addEventListener("astro:page-load", () => {
    init();
  });
</script>
