---
import { getRandomId } from "@lib/utils";

interface Props {
  name: string;
  type: astroHTML.JSX.HTMLInputTypeAttribute;
  placeholder?: string;
  label?: string;
  required?: boolean;
  class?: string;
  onchange?: string;
  value?: string;
  autocomplete?: string;
  disabled?: boolean;
}

const props = Astro.props;

const id = getRandomId("input");
---

<div class={props.class}>
  <label for={id} class="text-gray-700">{props.label}</label>
  <input
    id={id}
    name={props.name}
    placeholder={props.placeholder}
    type={props.type}
    required={props.required}
    onchange={props.onchange}
    value={props.value}
    autocomplete={props.autocomplete ? props.autocomplete : "off"}
    disabled={props.disabled}
    class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring disabled:opacity-75"
  />
</div>
