---
export const prerender = false;

import HTMLSubmit from "@components/form/HTMLSubmit.astro";

import { fmtShift } from "@lib/utils";

const { id, year, month, day, employee_id, shifts } = Astro.props;
---

<dialog id={id} class="p-4 rounded-xl">
  <div class="flex flex-col gap-8">
    <form method="POST" action="/api/schedule">
      <div class="flex flex-col gap-4">
        <select name="shift_id" class="bg-slate-200 px-4 py-2" required>
          <option value="none">None</option>
          {
            shifts.map((shift) => {
              return (
                <option value={shift.id}>
                  {fmtShift(shift.start)} - {fmtShift(shift.end)}
                </option>
              );
            })
          }
        </select>
        <input name="employee_id" value={employee_id} hidden />
        <input name="year" value={year} hidden />
        <input name="month" value={month} hidden />
        <input name="day" value={day} hidden />

        <HTMLSubmit label="Add" class="col-span-2" />
      </div>
    </form>
  </div>
</dialog>
