---
import { Icon } from "astro-icon/components";

interface Props {
  icon: string;
  text: string;
  month: number;
  class?: string;
}

const props = Astro.props;

const id = "month_button_" + Math.random().toString(16).slice(2);

const now = new Date();

let year = Astro.cookies.get("year")?.number() || now.getFullYear();
let month = props.month;

year = month == 0 ? year - 1 : month == 13 ? year + 1 : year;
month = month == 0 ? 12 : month == 13 ? 1 : month;
---

<button
  id={id}
  class:list={[
    "bg-red-500 text-white text-sm p-2 sm:px-2 sm:py-1 rounded-full sm:rounded-xl hover:bg-opacity-75 transition-colors flex flex-row items-center gap-2",
    props.class,
  ]}
>
  <Icon name={props.icon} />
  <span class="hidden sm:block">{props.text}</span>
</button>
<script is:inline define:vars={{ id: id, year: year, month: month }}>
  const _button = document.querySelector(`button#${id}`);

  _button.addEventListener("click", (e) => {
    document.cookie = `year=${year}; expires=Session, path=/`;
    document.cookie = `month=${month}; expires=Session, path=/`;
    location.reload();
  });
</script>
