---
import Subpage from "@layouts/Subpage.astro";

import { db } from "@lib/database";
import { employee, team } from "@lib/database/schema";

import Remove from "@components/buttons/Remove.astro";
import HTMLInput from "@components/form/HTMLInput.astro";
import HTMLSubmit from "@components/form/HTMLSubmit.astro";

import { count, eq } from "drizzle-orm";
import * as m from "@paraglide/messages";
import { setLanguageTag } from "@paraglide/runtime";

setLanguageTag((Astro.preferredLocale || "en") as any);

const teams = await db
  .select({
    id: team.id,
    name: team.name,
    employeesCount: count(employee),
  })
  .from(team)
  .rightJoin(employee, eq(employee.teamId, team.id))
  .groupBy(team.id)
  .orderBy(team.name);
---

<Subpage title="Teams">
  <div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <h3 class="font-bold text-3xl">Teams</h3>
      <form method="POST" action="/api/teams" class="flex flex-row gap-2">
        <input type="text" name="name" placeholder={m.name()} class="input input-bordered w-full" required />
        <button type="submit" class="btn">{m.add()}</button>
      </form>
    </div>
    {
      teams.length === 0 ? (
        <span class="font-bold text-xl text-center">{m.no_teams()}</span>
      ) : (
        <table class="table">
          <thead>
            <tr>
              <th>{m.name()}</th>
              <th>Employees count</th>
              <th />
            </tr>
          </thead>

          <tbody>
            {teams.map((team) => {
              return (
                <tr>
                  <td>
                    <form method="POST" action={`/api/teams/${team.id}/rename`}>
                      <input type="text" id="team_name" name="team_name" value={team.name} class="input input-bordered" />
                      <input type="submit" hidden />
                    </form>
                  </td>
                  <td>
                    <span>{team.employeesCount}</span>
                  </td>
                  <td>
                    <div class="flex flex-row gap-2 items-center justify-end">
                      <a role="button" class="btn" href={`/teams/${team.id}`}>
                        Edit
                      </a>
                      <form method="POST" action={`/api/teams/${team.id}/delete`}>
                        <button type="submit" class="btn btn-error">
                          {m.remove()}
                        </button>
                      </form>
                    </div>
                  </td>
                </tr>
              );
            })}
          </tbody>
        </table>
      )
    }
  </div>
</Subpage>
