---
import Subpage from "@layouts/Subpage.astro";

import { db } from "@lib/database";
import { employee, team } from "@lib/database/schema";

import Remove from "@components/buttons/Remove.svelte";
import HTMLInput from "@components/form/HTMLInput.svelte";
import HTMLSubmit from "@components/form/HTMLSubmit.svelte";

import { count, eq } from "drizzle-orm";
import * as m from "@paraglide/messages";
import { setLanguageTag } from "@paraglide/runtime";

setLanguageTag((Astro.preferredLocale || "en") as any);

const teams = await db
  .select({
    id: team.id,
    name: team.name,
    employeesCount: count(employee),
  })
  .from(team)
  .leftJoin(employee, eq(employee.teamId, team.id))
  .groupBy(team.id)
  .orderBy(team.name);
---

<Subpage title="Teams">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <h3 class="font-bold text-3xl">Teams</h3>
      <form method="POST" action="/api/teams" class="flex flex-row gap-2">
        <HTMLInput name="name" placeholder={m.name()} type="text" required class="w-full" />
        <HTMLSubmit label={m.add()} />
      </form>

      {
        teams.length === 0 ? (
          <span class="font-bold text-xl text-center">{m.no_teams()}</span>
        ) : (
          <table class="w-full text-sm text-left rtl:text-right">
            <thead class="text-xs bg-gray-200">
              <tr>
                <th class="px-6 py-3">{m.name()}</th>
                <th class="px-6 py-3">Employees count</th>
                <th class="px-6 py-3">Actions</th>
                <th />
              </tr>
            </thead>

            <tbody>
              {teams.map((team) => {
                return (
                  <tr class="even:bg-gray-100">
                    <td class="px-6 py-4">
                      <form method="POST" action={`/api/teams/${team.id}/rename`}>
                        <input type="text" id="team_name" name="team_name" value={team.name} class="bg-transparent" />
                        <input type="submit" hidden />
                      </form>
                    </td>
                    <td class="px-6 py-4">
                      <span>{team.employeesCount}</span>
                    </td>
                    <td class="px-6 py-4">
                      <div class="flex flex-row gap-2 items-center">
                        <a href={`/teams/${team.id}`}>Edit</a>
                        <form method="POST" action={`/api/teams/${team.id}/delete`}>
                          <Remove />
                        </form>
                      </div>
                    </td>
                  </tr>
                );
              })}
            </tbody>
          </table>
        )
      }
    </div>
  </div>
</Subpage>
