---
import Subpage from "@layouts/Subpage.astro";

import { db } from "@lib/database";
import { group } from "@lib/database/schema";

import Remove from "@components/buttons/Remove.astro";
import HTMLInput from "@components/form/HTMLInput.astro";
import HTMLSubmit from "@components/form/HTMLSubmit.astro";

import { Icon } from "astro-icon/components";
import * as m from "@paraglide/messages";
import { setLanguageTag } from "@paraglide/runtime";
import { groupCollapsed } from "console";

setLanguageTag((Astro.preferredLocale || "en") as any);

const groups = await db.select().from(group).orderBy(group.name);
---

<Subpage title="Groups">
  <div class="flex flex-col gap-4">
    <div class="flex flex-col gap-4">
      <h3 class="font-bold text-3xl">{m.add_group()}:</h3>
      <form method="POST" action="/api/groups" class="flex flex-col gap-8">
        <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
          <HTMLInput name="name" placeholder={m.name()} type="text" required class="sm:col-span-2" />
        </div>
        <HTMLSubmit label={m.add()} class="col-span-2" />
      </form>

      {
        groups.length === 0 ? (
          <span class="font-bold text-xl text-center">{m.no_groups()}</span>
        ) : (
          <div class="flex flex-col gap-4">
            <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
              {groups.map((group) => {
                return (
                  <div class="flex flex-col justify-between gap-4 border-2 rounded-xl p-2 px-4">
                    <div class="flex flex-col">
                      <div>
                        <form method="POST" action="/api/groups/rename">
                          <input type="text" name="group_name" value={group.name} class="font-bold w-full" />
                          <input name="group_id" value={group.id} hidden />
                          <input type="submit" hidden />
                        </form>
                        {group.defaultGroup ? <span>({m.default_group()})</span> : null}
                      </div>
                    </div>
                    <div>
                      <form method="POST" action="/api/groups/delete">
                        <input name="group_id" value={group.id} hidden />

                        <Remove />
                      </form>
                    </div>
                  </div>
                );
              })}
            </div>
          </div>
        )
      }
    </div>
  </div>
</Subpage>
