---
import Layout from "@layouts/Common.astro";

import MonthButton from "@components/buttons/MonthButton.astro";
import HTMLInput from "@components/form/HTMLInput.astro";
import Table from "@components/schedule/Table.astro";

import { db } from "@lib/database";
import { team } from "@lib/database/schema";

import * as m from "@paraglide/messages";
import { setLanguageTag } from "@paraglide/runtime";

import { eq } from "drizzle-orm";

setLanguageTag((Astro.preferredLocale || "en") as any);

if ((await db.select().from(team)).length === 0) {
  console.log("No teams found in the database! Redirecting to /teams so the user can add one.");
  return Astro.redirect("/teams");
}

let currentTeam = "";
let currentTeamId = -1;

if (Astro.cookies.has("current_team")) {
  currentTeam = Astro.cookies.get("current_team")?.value || "";
  if (currentTeam !== "" && (await db.select().from(team).where(eq(team.name, currentTeam))).length == 0) {
    console.warn(`Location '${currentTeam}' not found in the database! Clearing the cookie.`);
    Astro.cookies.delete("current_team");
    currentTeam = "";
  }
}

if (currentTeam === "") {
  const default_team = (await db.select({ name: team.name }).from(team).where(eq(team.defaultTeam, true)))[0]["name"];
  currentTeam = default_team;
  Astro.cookies.set("current_team", currentTeam);
}

if (currentTeam === "") {
  console.log("Current team is for some reason not set, redirecting to /teams");
  return Astro.redirect("/teams");
}

currentTeamId = (await db.select({ id: team.id }).from(team).where(eq(team.name, currentTeam)))[0]["id"];

const now = new Date();
const year = Astro.cookies.get("year")?.number() || now.getFullYear();
const month = Astro.cookies.get("month")?.number() || now.getMonth() + 1;
---

<Layout title="SchedPlanner">
  <div class="p-4 mx-auto flex flex-row justify-between gap-4 items-center">
    <MonthButton icon="mdi:arrow-left" text={m.previous()} month={Number(month) - 1} />
    <HTMLInput name="month" type="month" value=`${year}-${String(month).padStart(2, "0")}` class="flex flex-row items-center" />
    <MonthButton icon="mdi:arrow-right" text={m.next()} class="flex-row-reverse" month={Number(month) + 1} />
  </div>
  <Table />
</Layout>
<script>
  const month_input_element = document.querySelector("input[name='month']") as HTMLInputElement;

  month_input_element.addEventListener("change", (e) => {
    const target = e.target as HTMLInputElement;
    const [year, month] = target.value.split("-");
    document.cookie = `year=${year}; expires=Session, path=/`;
    document.cookie = `month=${month}; expires=Session, path=/`;
    location.reload();
  });
</script>
