---
import Subpage from "@layouts/Subpage.astro";
import { db } from "@lib/database";
import { shift } from "@lib/database/schema/shift";
import HTMLInput from "@components/HTMLInput.astro";
import HTMLSubmit from "@components/HTMLSubmit.astro";
import Remove from "@components/buttons/Remove.astro";
import { fmtShift } from "@lib/utils";
import * as m from "@paraglide/messages";
import { setLanguageTag } from "@paraglide/runtime";

setLanguageTag((Astro.preferredLocale || "en") as any);

const shifts = await db.select().from(shift).orderBy(shift.id);
---

<Subpage title="Employees">
  <div class="flex flex-col gap-4">
    <h3 class="font-bold text-3xl">{m.add_shift()}:</h3>
    <form method="POST" action="/api/shifts">
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <HTMLInput name="comment" label={m.comment()} type="text" class="col-span-2" />
        <HTMLInput name="start" label={m.shift_start()} type="time" required />
        <HTMLInput name="end" label={m.shift_end()} type="time" required />

        <HTMLSubmit label={m.add()} class="col-span-2" />
      </div>
    </form>

    {
      shifts.length === 0 ? (
        <span class="font-bold text-xl text-center">{m.no_shifts()}</span>
      ) : (
        <div class="flex flex-col gap-4">
          <h3 class="font-bold text-xl">{m.all_shifts()}:</h3>
          <ul class="grid grid-cols-4 gap-4">
            {shifts.map((shift) => {
              return (
                <li class="flex flex-col justify-between gap-4 border-2 rounded-xl p-2 px-4">
                  <div class="flex flex-col">
                    {shift.comment ? <span>{shift.comment}</span> : null}
                    <span>{m.shift_with_number({ shift: shift.id })}</span>
                    <span>{m.shift_range({ start: fmtShift(shift.start), end: fmtShift(shift.end) })}</span>
                  </div>
                  <div>
                    <form method="POST" action="/api/shifts/delete">
                      <input name="shift_id" value={shift.id} hidden />

                      <Remove />
                    </form>
                  </div>
                </li>
              );
            })}
          </ul>
        </div>
      )
    }
  </div>
</Subpage>
