---
import Subpage from "@layouts/Subpage.astro";

import { db } from "@lib/database";
import { shift, shiftTypesEnum } from "@lib/database/schema";
import { fmtShift } from "@lib/utils";

import Remove from "@components/buttons/Remove.astro";
import ColorPicker from "@components/form/ColorPicker.astro";
import HTMLInput from "@components/form/HTMLInput.astro";
import HTMLSelect from "@components/form/HTMLSelect.astro";
import HTMLSubmit from "@components/form/HTMLSubmit.astro";

import * as m from "@paraglide/messages";
import { setLanguageTag } from "@paraglide/runtime";

setLanguageTag((Astro.preferredLocale || "en") as any);

const shifts = await db.select().from(shift).orderBy(shift.id);
---

<Subpage title="Shifts">
  <div class="flex flex-col gap-4">
    <h3 class="font-bold text-3xl">{m.add_shift()}:</h3>
    <form method="POST" action="/api/shifts" class="flex flex-col gap-8">
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-3 items-center">
        <HTMLInput name="label" label={m.label()} type="text" />
        <ColorPicker label={m.color()} />
        <HTMLSelect name="shift_type" label={m.shift_type()}>
          {
            shiftTypesEnum.enumValues.map((shiftType) => {
              return <option value={shiftType}>{shiftType}</option>;
            })
          }
        </HTMLSelect>
        <HTMLInput name="start" label={m.shift_start()} type="time" required />
        <HTMLInput name="end" label={m.shift_end()} type="time" required />
      </div>
      <HTMLSubmit label={m.add()} class="col-span-2" />
    </form>

    {
      shifts.length === 0 ? (
        <span class="font-bold text-xl text-center">{m.no_shifts()}</span>
      ) : (
        <div class="flex flex-col gap-4">
          <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
            {shifts.map((shift) => {
              return (
                <div style={{ backgroundColor: shift.color }} class="flex flex-col justify-between gap-4 border-2 rounded-xl p-4">
                  <div class="flex flex-col gap-2">
                    <form method="POST" action="/api/shifts/update" class="flex flex-col gap-2">
                      <HTMLInput name="label" label={m.label()} type="text" value={shift.label!} />
                      <HTMLSelect name="shift_type" label={m.shift_type()}>
                        {shiftTypesEnum.enumValues.map((shiftType) => {
                          return (
                            <option value={shiftType} selected={shift.shiftType == shiftType}>
                              {shiftType}
                            </option>
                          );
                        })}
                      </HTMLSelect>
                      <input name="shift_id" value={shift.id} hidden />
                      <input type="submit" hidden />
                    </form>
                    <div class="flex flex-col">
                      <span class="text-gray-700">{m.time_range()}</span>
                      <span>
                        {fmtShift(shift.start)} - {fmtShift(shift.end)}
                      </span>
                    </div>
                  </div>
                  <div class="flex flex-row justify-end">
                    <form method="POST" action="/api/shifts/delete">
                      <input name="shift_id" value={shift.id} hidden />

                      <Remove />
                    </form>
                  </div>
                </div>
              );
            })}
          </div>
        </div>
      )
    }
  </div>
</Subpage>
