---
import Subpage from "@layouts/Subpage.astro";
import { db } from "@lib/database";
import { employee } from "@lib/database/schema/employee";
import { location } from "@lib/database/schema/location";
import HTMLInput from "@components/HTMLInput.astro";
import HTMLSubmit from "@components/HTMLSubmit.astro";
import Cookies from "@lib/cookies";
import * as m from "@paraglide/messages";
import { setLanguageTag } from "@paraglide/runtime";

import { eq } from "drizzle-orm";

setLanguageTag((Astro.preferredLocale || "en") as any);

if ((await db.select().from(location)).length == 0) {
  console.log("No locations found in the database! Redirecting to /locations so the user can add one.");
  return Astro.redirect("/locations");
}

let current_location = (Astro.cookies.get(Cookies.current_location) || {})?.value || "";

if (!current_location || current_location === "") {
  Astro.redirect("/");
}

const locations = await db.select().from(location).orderBy(location.name);

let current_location_id = (await db.select({ id: location.id }).from(location).where(eq(location.name, current_location)))[0]["id"];

const employees = await db.select().from(employee).where(eq(employee.location_id, current_location_id)).orderBy(employee.full_name);
---

<Subpage title="Employees">
  <div class="flex flex-col gap-4">
    <h3 class="font-bold text-3xl">{m.add_employee()}:</h3>
    <form method="POST" action="/api/employees">
      <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">
        <HTMLInput name="first_name" label={m.first_name()} type="text" required />
        <HTMLInput name="last_name" label={m.last_name()} type="text" required />

        <select name="location_id" hidden>
          {
            locations.map((location) => {
              const is_current_location = location.name === current_location;

              return (
                <option value={location.id} selected={is_current_location}>
                  {location.name}
                </option>
              );
            })
          }
        </select>

        <HTMLSubmit label={m.add()} class="col-span-2" />
      </div>
    </form>

    {
      employees.length === 0 ? (
        <span class="font-bold text-xl text-center">{m.no_employees()}</span>
      ) : (
        <div class="flex flex-col gap-4">
          <h3 class="font-bold text-xl">{m.all_employees()}:</h3>
          <ul>
            {employees.map((employee) => {
              return (
                <li class="flex flex-row justify-between items-center gap-4">
                  <span>{employee.full_name}</span>
                  <div>
                    <form method="POST" action="/api/employees/delete">
                      <input name="employee_id" value={employee.id} hidden />

                      <button class="border-b-2">{m.remove()}</button>
                    </form>
                  </div>
                </li>
              );
            })}
          </ul>
        </div>
      )
    }
  </div>
</Subpage>
