---
import Subpage from "@layouts/Subpage.astro";

import { db } from "@lib/database";
import { employee, group } from "@lib/database/schema";

import Remove from "@components/buttons/Remove.astro";
import HTMLInput from "@components/form/HTMLInput.astro";
import HTMLSubmit from "@components/form/HTMLSubmit.astro";

import * as m from "@paraglide/messages";
import { setLanguageTag } from "@paraglide/runtime";

import { eq } from "drizzle-orm";

setLanguageTag((Astro.preferredLocale || "en") as any);

if ((await db.select().from(group)).length == 0) {
  console.log("No groups found in the database! Redirecting to /groups so the user can add one.");
  return Astro.redirect("/groups");
}

let current_group = (Astro.cookies.get("current_group") || {})?.value || "";

if (current_group === "") {
  Astro.redirect("/");
}

let current_group_id = (await db.select({ id: group.id }).from(group).where(eq(group.name, current_group)))[0].id;

const employees = await db.select().from(employee).where(eq(employee.groupId, current_group_id)).orderBy(employee.lastName, employee.firstName);
---

<Subpage title="Employees">
  <div class="flex flex-col gap-4">
    <h3 class="font-bold text-3xl">{m.add_employee()}:</h3>
    <form method="POST" action="/api/employees" class="flex flex-col gap-8">
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
        <HTMLInput name="first_name" placeholder={m.first_name()} type="text" required />
        <HTMLInput name="last_name" placeholder={m.last_name()} type="text" required />

        <input type="number" name="group_id" value={current_group_id} hidden />
      </div>
      <HTMLSubmit label={m.add()} class="col-span-2" />
    </form>

    {
      employees.length === 0 ? (
        <span class="font-bold text-xl text-center">{m.no_employees()}</span>
      ) : (
        <div class="flex flex-col gap-4">
          <div class="grid grid-cols-2 lg:grid-cols-4 gap-4">
            {employees.map((employee) => {
              return (
                <div class="flex flex-col justify-between gap-4 border-2 rounded-xl p-2 px-4">
                  <form method="POST" action="/api/employees/rename">
                    <label for="first_name">{m.first_name()}:</label>
                    <input type="text" name="first_name" value={employee.firstName} class="font-bold" />
                    <label for="last_name">{m.last_name()}:</label>
                    <input type="text" name="last_name" value={employee.lastName} class="font-bold" />

                    <input name="employee_id" value={employee.id} hidden />
                    <input name="group_id" value={employee.groupId} hidden />
                    <input type="submit" hidden />
                  </form>
                  <div>
                    <form method="POST" action="/api/employees/delete">
                      <input name="employee_id" value={employee.id} hidden />

                      <Remove />
                    </form>
                  </div>
                </div>
              );
            })}
          </div>
        </div>
      )
    }
  </div>
</Subpage>
